@using WebAppAspNetMvcPdf.Models;
@model Client

@{
    Layout = null;
    var controllerName = "Clients";
    var actionName = "Edit";
    var enctype = "multipart/form-data";
}

<h3>Клиент</h3>


@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @enctype = enctype }))
{
    
    @Html.EditorForModel()

    <button class="btn btn-success" onclick="Post('@controllerName','@actionName')">Сохранить</button>
    @Html.ActionLink("Отменить", "Index", controllerName, null, new { @class = "btn btn-warning" })
}