@using WebAppAspNetMvcPdf.Models
@model Setting

@{
    Layout = null;
    var controllerName = "Settings";
    var actionName = "Create";
    var enctype = "application/x-www-form-urlencoded";
}

<h3>Настройка</h3>

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @enctype = enctype }))
{
    @Html.EditorForModel()

    <button class="btn btn-success" onclick="Post('@controllerName','@actionName', '@enctype')">Сохранить</button>
    @Html.ActionLink("Отменить", "Index", controllerName, null, new { @class = "btn btn-warning" })
}